*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

:root {
  --primary-blue-color: 13, 110, 253;
  --primary-grey-color: 108, 117, 125;
  --primary-border-color: 210, 210, 210;
}

body {
  margin: 0;
}

.username-header {
  font-size: 1.5rem;
}

.full-screen-container {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.dashboard-container {
  align-items: flex-start;
  overflow: scroll;
  padding-top: 120px;
  padding-bottom: 30px;
}

.dashboard-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 0.25rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1.25rem;
  color: white;
  border: none;
  outline: none;
}

.logout {
  background-color: rgba(var(--primary-blue-color));
}

.logout:hover {
  background-color: rgba(var(--primary-blue-color), 0.8);
}

.ice-cream-preferences-container {
  border: 2px solid rgb(var(--primary-border-color));
  border-radius: 20px;
  padding: 30px 30px;
  width: 80%;
  max-width: 600px;
}

.title {
  margin: 0;
  text-align: left;
  width: 100%;
  font-size: 2rem;
  font-weight: normal;
}
